{% extends 'app/base.html' %}
{% block content %}

<div id="content">
    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active text-center">
                <div class="card text-center container">
                    <div class="card-body">
                        <h1 style="font-size: 72px">Defualt</h1>
                        <h2>Purpose of this WebApp?</h2>
                        <div style="padding-left: 90px; padding-right: 90px;">
                            <p class="card-text">Provide a modular jumping off point for more advanced web apps.</p>
                        </div>
                    </div>
                    <a href="https://github.com/JohnminerIv/modular_dockerized_flask" target="_blank"
                        style="font-size: 24px">View Code on GitHub</a>
                </div>
            </div>
        </div>
        <div class="carousel-item text-center">
        </div>
        <div class="carousel-item text-center">
        </div>
    </div>
</div>
{% endblock content %}